@charset "utf-8";
@import "./variables.scss";
// @import './patterns';

.content-area{
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;

  .page{
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    // -webkit-filter: drop-shadow(6px 8px 6px rgba(0,0,0,0.4));
    // filter: drop-shadow(6px 8px 6px rgba(0,0,0,0.4));
  }
}

.bubbles{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  margin: 0.5em 12% 0.5em 12%;
  background: $beige-light--3;
  border-radius: 20px;
  transition: all .4s ease-in-out;

  .bubble-link {
    padding: 1em 0.5em ;
    max-width: 160px;
    flex-direction: column;
    color: $black-70;
    transition: all .2s ease-in-out;
    text-align: center;
    justify-content: center;
    // flex-wrap: nowrap;
    // flex-wrap: wrap;

      .bubble-frame{
        position: relative;
        width: 4em;
        height: 4em;
        overflow: hidden;
        border: 2px solid $black-40;
        border-radius: 25px 5px 25px 5px;
        filter: grayscale(0.8);
        margin: 10px auto;

        img.bubble-image{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .bubble-profTitle{
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        font-size: 0.9em;
      }

      .bubble-profName{
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        font-size: 0.9em;
      }

      .bubble-headline{
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        font-size: .9em;
      }
    // }

    &.active {
      color: $orange;
      transition: all .4s ease-in-out;

      .bubble-frame{
        border: 2px solid $orange;
        box-shadow: 0 8px 8px 0 rgba(0,0,0,0.4);
        filter: grayscale(0.1);
      }
    }

    &.bubble-link:focus,
    &.bubble-link:hover  {
      color: $orange;
      transition: all .4s ease-in-out;

      .bubble-frame{
        border: 2px solid $orange;
        box-shadow: 0 8px 8px 0 rgba(0,0,0,0.4);
        filter: brightness(0.8);
        filter: grayscale(0.4);
      }
      .bubble-profTitle,
      .bubble-profName,
      .bubble-headline {
        color: $orange;
      }
    }

  }
}