@charset "utf-8";
@import "./variables.scss";

.content-area{
  display: flex;
  flex-direction: column;
  // flex: 1 1 100%;
  .page{
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
  }
}

// classes in use: content-area > panelsContainer > panel > panel${id} > panelContent > panelTitle, panelName, panelText, panelLinkButton

.panelsContainer {
  display: flex;
  flex: 1 1 100%;
  min-height: 85vh;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: no-wrap;
    // transform-style: preserve-3d;
    // transform: perspective(1000px) translateX(calc(100% * var(--offset)))
    //   rotateY(calc(-45deg * var(--dir)));

  .panel{
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    margin: 0;
    max-width: 12.5%;
    min-width: 11%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    filter: grayscale(0.8);
    position: relative;
    // align-items: flex-start;
    // justify-content: center;
    transition:
      min-width 0.3s ease-in-out 0.3s,
      opacity 0.3s ease-in-out 0.3s,
      filter 0.3s ease-in-out 0.3s;
      // font-size 0.7s cubic-bezier(0.6,-0.5, 0.7,-0.1),
      // flex 0.7s cubic-bezier(0.6,-0.5, 0.7,-0.1);

    .panelContent {
      display: flex;
      flex-direction: column;
      flex: 1 1 100%;
      font-family:'Quattrocento Sans', sans-serif;
      font-size: 1.1rem;
      top: 45%;
      position: absolute;
      margin: 0 0.5rem;
      align-items: flex-start;
      justify-items: center;

      .panelTitle {
        display: flex;
        flex: 1 1 100%;
        font-family:'Quattrocento Sans', sans-serif;
        font-size: 1.1rem;
        letter-spacing: 0.2ch;
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.72);
        margin: 0;
      }
      .panelName {
        display: flex;
        flex: 1 1 100%;
        // top: 50%;
        font-family:'Grand Hotel', cursive;
        font-size: 2rem;
        font-weight: 700;
        &:hover{
          color: $mercury;
        }
        margin: 0.2rem 0;
      }
      .panelText {
        display: flex;
        font-family:'Quattrocento Sans', sans-serif;
        font-size: 1.1rem;
        opacity: 0;
        margin: 0.7rem 0;
      }

    } //end panelContent

    .panelLinkButton{
      display: flex;
      bottom: 20%;
      font-family:'Quattrocento Sans', sans-serif;
      font-weight: 700;
      font-size: 1rem;
      width: 5rem;
      height: 1.5rem;
      opacity: 0;
      background-color: orange;
      position: absolute;
      margin: 0 1rem;
      padding: 0.5rem;
    }
    // .panel.active {
    //   flex: 5;
    //   font-size: 40px;
    // }

    &:hover{
      // transition: min-width 0.5s ease-in-out 0.5s;
      filter: grayscale(0.1);
      min-width: 14%;
      // flex: 5;

      // .panelTitle {
      //   opacity: 1;
      // }
      .panelText{
        transition: opacity 0.3s ease-in-out 0.3s;
        opacity: 1;
      }
      .panelLinkButton {
        transition: opacity 1.7s ease-in-out 0.3s;
        opacity: 1;
      }

    }
  } // end of .panel



  @media only screen and (max-width: 800px) {
    display: block;
    .panel p {
      font-size: 1.1em;
    };
  }
} //end panelsContainer


  // .panel0 {
  //   background-image: 'url(https://source.unsplash.com/6k2wkqGMw1I/1500x1500)';
  // }
  // .panel1 {
  //   background-image: 'url(https://source.unsplash.com/13g9FZqVvNY/1500x1500)';
  // }
  // .panel2 {
  //   background-image: 'url(https://source.unsplash.com/uNyF_FXn4qw/1500x1500)';
  // }
  // .panel3 {
  //   background-image: 'url(https://source.unsplash.com/Xf071ws2Icg/1500x1500)';
  // }
  // .panel4 {
  //   background-image: 'url(https://source.unsplash.com/wFW4zlulBT8/1500x1500)';
  // }
  // .panel5 {
  //   background-image: 'url(https://source.unsplash.com/3cIPFNW3wog/1500x1500)';
  // }
  // .panel6 {
  //   background-image: 'url(https://source.unsplash.com/KJ241ZAOYwU/1500x1500)';
  // }
  // .panel7 {
  //   background-image: 'url(https://source.unsplash.com/Ljz_Wmk7t7g/1500x1500)';
  // }




// .panel[data-active] {
  // z-index: 20;
  // pointer-events: auto;

  // .panelContainer {
  //   --x: calc(var(--px) - 0.5);
  //   --y: calc(var(--py) - 0.5);
  //   opacity: 1;
  //   transform: perspective(800px);

  //   &:hover {
  //     transition: transform 0.1s ease-in-out;
  //     transform: perspective(1000px)
  //       // rotateX(calc(var(--y) * -5deg))
  //       rotateY(calc(var(--x) * 30deg));
  //   }
  // }
// }
