$val: 1;
$values: 0 0 100px;
$color-default: #F0F3F2;
$badass: #BADA55;
$darkblue: #282c34;

//used colors for ECE
$orange: #d07316;
$menublue: #24343f;
$menublue--50: rgba(17, 60, 111, .5);
$menublue--70: rgba(17, 60, 111, .7);
$amazon: #0d4773;
$princess: #d07316;
$borderblue: rgba(116, 141, 181, 1.00);
$borderblue2: #abcbd1;
$borderblue--50: rgba(116, 141, 181, 0.5);
$bubbles: #b7ad55;
$mercury: #e5e7e3;
$gallery: #f1f1ef;
$greyish-brown:  #777951;
$dove-grey:  #777951;
$jaguar: #2B2B2B;

$background: #e7e5e3;
$background-transparent--1: rgba(255,255,255,0.1);
$background-transparent--2: rgba(255,255,255,0.2);
$background-transparent--5: rgba(255,255,255,0.5);
$background-transparent--8: rgba(255,255,255,0.8);
$background-transparent--10: rgba(255,255,255,1);
$black-95: rgba(20,21,19,1.0);
$black-80: #2b2b2b;
$black-70: #515151;
$black-60: #646464;
$greydark: #777971;
$black-40: #949494;
$black-20: #cfcfcf;
$black-10: #EFF0EB;
$greylight: #d8d9d1;
$greyverylight: #e8e7e7;
$cardtop: #b8c0b6;
$cardbottom: #e1dfdb;
$cardbottom2: #d6d5d2;

$contentarea: #c9c9c2;
$white: white;


$Gainsboro: #DCDCDC;
$Silver: 	#C0C0C0;
$LightSteelBlue: #B0C4DE;
$LightSlateGray: #778899;
$DimGray: #696969;
$WhiteSmoke: #f5f5f5;
$SlateGray: #778899;

// beige with transparency
$beige-light--1: rgba(208, 209, 205, .1);
$beige-light--3: rgba(208, 209, 205, .3);
$beige-light--5: rgba(208, 209, 205, .5);
$beige-light: rgba(208, 209, 205, .5);
$grey-lighter--10:	rgba(	219, 219, 219, .1);
$grey-lighter--30:	rgba(	219, 219, 219, .3);
$grey-lighter--50:	rgba(	219, 219, 219, .5);
$beige-lighter: rgba(239, 240, 235, .6);
$beige-light--60: rgba(239, 240, 235, .6);
$beige-light--70: rgba(239, 240, 235, .7);
$grey-lighter--80:	rgba(	219, 219, 219, .8);
$background-color-from-stella: #63696a;

  // -webkit-filter: grayscale(70%); filter: grayscale(70%);
  // -webkit-filter: brightness(70%); filter: brightness(70%);
  // -webkit-filter: drop-shadow(6px 8px 6px rgba(0,0,0,0.4)));; filter: drop-shadow(6px 8px 6px rgba(0,0,0,0.4)));